.battleboard {
    width: 720px;
    min-height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px #000 solid;
}

.route101 {
    background: url("../../assets/imgs/maps/grassMap.png") center center / 100%
        100% no-repeat;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pokemon-container {
    display: flex;
    justify-content: space-between;
}

.pokemon {
    height: 150px;
    width: 50%;
}

.text-box {
    background: url("../../assets/imgs/ui/battle_TextBox.png") center center /
        100% 100% no-repeat;
    flex-grow: 0;
    z-index: 4;
    display: flex;
}

.texts {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.option-text {
    color: #000;
    font-weight: 700;
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 5;
    border: 2px dotted transparent;
    margin: 0 0.5rem;
}

.option-text:hover {
    border-color: #000;
}

.left-textbox {
    flex-grow: 3;
    width: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 2rem;
}

.left-textbox .left-text {
    word-wrap: break-word;
    max-width: 18ch;
    line-height: 1.5rem;
    font-size: 1.3rem;
    height: fit-content;
}

.right-textbox {
    background: url("../../assets/imgs/ui/battle_TextBox_options.png") center
        center / 100% 100% no-repeat;
    flex-grow: 1;
    width: 50%;
}
