.battleboard {
    width: 720px;
    min-height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px #000 solid;
}

.route101 {
    background: url("../../assets/imgs/maps/grassMap.png") center center / 100%
        100% no-repeat;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pokemon-container {
    display: flex;
    justify-content: space-between;
}

.text-box {
    background: url("../../assets/imgs/ui/battle_TextBox.png") center center /
        100% 100% no-repeat;
    flex-grow: 0;
    z-index: 4;
}

.texts {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
}

.option-text {
    padding: 1rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    z-index: 5;
}

.treecko_back {
    background: url("../../assets/pokemon/252_back.png") center center / contain
        no-repeat;
    height: 150px;
    width: 50%;
    transform: translateY(10px);
}

.treecko_front {
    background: url("../../assets/pokemon/252_front.png") center center /
        contain no-repeat;
    height: 150px;
    width: 50%;
    transform: translateY(120px);
}
