.treecko_back {
    background: url("../../assets/pokemon/252_back.png") center center / contain
        no-repeat;
}

.treecko_front {
    background: url("../../assets/pokemon/252_front.png") center center /
        contain no-repeat;
    /* transform: translateY(120px); */
}

.torchic_back {
    background: url("../../assets/pokemon/255_back.png") center center / contain
        no-repeat;
}

.torchic_front {
    background: url("../../assets/pokemon/255_front.png") center center /
        contain no-repeat;
    /* transform: translateY(120px); */
}

.mudkip_back {
    background: url("../../assets/pokemon/258_back.png") center center / contain
        no-repeat;
}

.mudkip_front {
    background: url("../../assets/pokemon/258_front.png") center center /
        contain no-repeat;
    /* transform: translateY(120px); */
}

.Zigzagoon_back {
    background: url("../../assets/pokemon/263_back.png") center center / contain
        no-repeat;
}

.Zigzagoon_front {
    background: url("../../assets/pokemon/263_front.png") center center /
        contain no-repeat;
    /* transform: translateY(120px); */
}

.Poochyena_back {
    background: url("../../assets/pokemon/261_back.png") center center / contain
        no-repeat;
}

.Poochyena_front {
    background: url("../../assets/pokemon/261_front.png") center center /
        contain no-repeat;
    /* transform: translateY(120px); */
}
