.team-builder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btns-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
