.team-builder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-container {
    display: flex;
}

.search-container .input {
    padding: 1rem;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.search-container .btn {
    font-size: 1.2rem;
}

.bottom {
    display: flex;
    flex-direction: column;
}

.all-container {
    display: flex;
}

.pokemon-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: #ccc;
    border: 1px solid #000;
    border-radius: 10px;
}

.pokemon-container img {
    image-rendering: pixelated;
}

.line {
    margin: 0.5rem 0;
}

.label {
    font-weight: 600;
}

.moves-container {
    height: 300px;
    overflow: auto;
    padding: 1rem;
}

.selected-moves-container {
    height: 300px;
    overflow: auto;
}

.selected-moves-container,
.selected-container {
    display: flex;
    flex-direction: column;
    max-width: 30ch;
    padding: 1rem;
    border: 1px #000 solid;
    border-radius: 10px;
    margin: 0.5rem;
}
