:root {
    --pixel-size: 2px;
    --grid-cell: calc(var(--pixel-size) * 16);
}

.player-container {
    /* width: calc(var(--grid-cell) * 2);
    height: calc(var(--grid-cell) * 2); */
    position: absolute;
    overflow: hidden;
    top: 140px;
    left: 112px;
}

.player {
    background: url("../../assets/imgs/player/player_sprite_sheet.png")
        no-repeat 0 0;
    width: 14px;
    height: 21px;
}
