.text-container {
    background: url("../../assets/imgs/ui/battle_TextBox_options.png") center
        center / 100% 100% no-repeat;
    width: 100%;
}

.option-text {
    font-size: 0.8rem;
}
